name: Benchmarks

on:
  push:
    branches:
      - main

env:
  GITHUB_TOKEN: ${{ secrets.OB_BENCH_TOKEN }}
  BENCHMARKS_REPO: ev-br/ob-bench-asv
  ASV_CONFIG: asv.conf.json
  MACHINE_NAME: github-actions  # to identify github actions machine as hostname changes everytime

jobs:
  build:
    # This workflow only runs on the origin org
    #if: github.repository_owner == 'sgkit-dev'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # To fetch all commits to be able to generate benchmarks html
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          pip install numpy meson meson-python ninja build asv
          sudo apt install libopenblas-dev    # XXX

      - name: Set and log asv machine configuration
        run: |
          asv machine --yes --config asv.conf.json
          echo "Machine Configuration:"
          cat ~/.asv-machine.json
          rm ~/.asv-machine.json

          echo "Setting machine name to $MACHINE_NAME"
          asv machine --machine $MACHINE_NAME --yes --config $ASV_CONFIG -v
          cat ~/.asv-machine.json

      - name: Run benchmarks
        run: |
          asv run --config $ASV_CONFIG -v

      - name: Copy benchmarks to benchmarks repo directory
        run: |
          git clone https://$GITHUB_TOKEN@github.com/$BENCHMARKS_REPO.git ~/$BENCHMARKS_REPO
          RESULTS_DIR=~/$BENCHMARKS_REPO/results
          if [ -d "$RESULTS_DIR" ]
          then
            cp -r $RESULTS_DIR/$MACHINE_NAME/* benchmarks/results/$MACHINE_NAME/
          else
            echo "results/ directory does not exist in the benchmarks repository"
          fi
          asv publish --config $ASV_CONFIG -v
          echo ">>> ."
          ls -l .
          echo ">>> .asv"
          ls -l .asv
          cp -r benchmarks/html/* ~/$BENCHMARKS_REPO/
          cp -r benchmarks/results ~/$BENCHMARKS_REPO/
